.container {
    margin: auto;
    width: 940px;
    margin-top: 55px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 70px 90px;

}

.container hr {
    height: 2px;
    background-color: grey;
    border: none;
    width: 100%;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

.container button {
    margin: auto;
    width: 150px;
    height: 55px;
    border-radius: 8px;
    cursor: pointer;
}

.container ul li.correct {
    background-color: #d4edda;
    border: 2px solid green;
}

.container ul li.wrong {
    background-color: #f8d7da;
    border: 2px solid red;
}

/* .container video {
    width: 650px;
    margin: auto;
    border: 2px black;
} */